@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: hsl(var(--b2));
}

h1,
h2,
h3,
h4 {
  line-height: 1.25;
}

main {
  min-height: calc(100svh - 64px);
}

.btn {
  border-radius: 12px;
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}
